<a href="https://colab.research.google.com/github/AnggaPradiktas/tutorials/blob/main/Basic_Programming_Conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Programming I: Conditions

Control Flow

In [ ]:
# Sequential
a=20
b=15
c=a*b
print("a*b =",c)

a*b = 300

In [ ]:
# Conditional
a = 5
b = 5
if a > b: #akan jadi False
   print("a is bigger than b")
elif a == b:
   print("a sama dengan b")
else:
   print("a is smaller than b")
print("Done")

a sama dengan b
Done

## IF statement

Single Condition

In [ ]:
a = 4
if a == 1:
  print("a is three")
print("Done")

Done

Two Condition

In [ ]:
a = 5
b = 5
if a > b:
   print("a is bigger than b")
else:
   print("a is smaller than b")
print("Done")

a is smaller than b
Done

Multiple Condition

In [ ]:
a = 7
b = 7
if a > b:
   print("a is bigger than b")
elif a == b:
   print("a is sama dengan b")
else:
   print("a and b is the different")

a is sama dengan b

In [ ]:
a = 2
if a == 1:
   print("a is 1")
elif a == 2:
   print("a is 2")
elif a == 3:
   print("a is 3")
elif a == 4:
   print("a is 4")
elif a == 5:
   print("a is 5")
else:
   print("a is other than 1, 2, 3, 4, or 5")

a is 2

In [ ]:
#sebuah kondisi yang menyatakan error
a = True
if a:
  print("Success")
else:
  print("Error")

Success

Single Expression

In [ ]:
a = 7
b = 7
if a <= b:
   print("a is smaller or equal than b")

a is smaller or equal than b

Multiple Expression

In [ ]:
a = 3
b = 7
c = 20
if c > b or c < a:
  print("At least one of the expressions is True")
else:
  print("All expressions is False")

At least one of the expressions is True

In [ ]:
a = 3
b = 7
c = 20
if (a < b and b < c) or (a > c and a == b) or a == c:
   print("a is smaller than b")

a is smaller than b

Shorthand

In [ ]:
a = 3
if a == 3:
  print("a is three")

a is three

In [ ]:
a = 3
if a == 3: print("a is three")

a is three

In [ ]:
a = 5
b = 5
if a==b:
  print("same")
else: 
  print("different")

same

In [ ]:
a = 5
b = 5
print("same") if a==b else print("different")

same

Nested If

In [ ]:
z=[1, 23, 10, 40, 100]
print(z)

[1, 23, 10, 40, 100]

In [ ]:
for i in z:
  if i == 10:
    print("kurang dari 10")
    if i <=  20:
      print("kurang dari 20")
    else:
      print("tidak kurang dari 10 dan 20")
  else:
    print("tidak memenuhi apapun")

tidak memenuhi apapun
tidak memenuhi apapun
kurang dari 10
kurang dari 20
tidak memenuhi apapun
tidak memenuhi apapun

In [ ]:
x = 21

In [ ]:
if x > 20:
  print("Above twenty, ")
  if x > 40:
    print("and also above 40")
    if x > 50:
      print("and also above 50")
  else:
    print("but not above 40")
else:
  print("Below twenty")

Above twenty,
but not above 40

## Switch case

In [ ]:
# Python code
def switch_months(argument):
    switcher = {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December",
        13: "gaji ke 13"
    }
    return switcher.get(argument, "Invalid month")
print(switch_months(13))

gaji ke 13

In [ ]:
z=[1, 23, 10, 40, 100]

In [ ]:
z

[1, 23, 10, 40, 100]

In [ ]:
import pandas as pd

In [ ]:
print(switch_months(1))

January

In [ ]:
month = {	1:'January',
          2:'February',
          3:'March',
          4:'April',
          5:'May',
          6:'June',
          7:'July',
          8:'August',
          9:'September',
          10:'October',
          11:'November',
          12:'December'}
print(month[1])

January

### Input

In [ ]:
x = int(input())
print(type(x))

20
<class 'int'>

In [ ]:
x = int(input())

if x > 20:
  print("Above twenty, ")
  if x > 40:
    print("and also above 40")
  else:
    print("but not above 40")
else:
  print("Below twenty")

100
Above twenty,
and also above 40

# Cases

1. Given a number, determine whether that number is odd or even

ganjil: 1 3 5 7 9 11 13 ....  
genap : 2 4 6 8 10 12 ....

x % 2 == 0 -> genap  
x jika dibagi dengan 2, maka hasil baginya adalah 0

In [ ]:
x = int(input())

if x % 2 == 0:
  print("Even")
else:
  print("Odd")

13
Odd

2. Given a number, determine whether that number is positive, negative, or zero

In [ ]:
x = int(input())

if x > 0:
  print("positive")
elif x < 0:
  print("negative")
else:
  print("zero")

-1
negative

3. A school has following rules for grading system:  
a. Below 50 - Bad  
b. 50 to 75 - Good  
c. Above 75 - Excellent  
Ask user to enter marks and print the corresponding grade.

In [ ]:
x = int(input())

if x < 50:
  print("bad")
elif (x >= 50) and (x <= 75):
  print("good")
elif x > 75:
  print("excellent")

10
bad

In [ ]:
x = int(input())

if x < 50:
  print("bad")
elif x <= 75:
  print("good")
else:
  print("excellent")

76
excellent

4. Given a number, determine whether that number is positive, negative, or zero.  
 If the number is positive, determine whether the number is odd or even

In [ ]:
x = int(input())

if x > 0: #positif
  print("positive")
  if x % 2 == 0: #genap
    print("Even")
  else:
    print("Odd")
elif x < 0:
  print("negative")
else:
  print("zero")

10
positive
Even

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
# The first line of the input contains an integer 𝑁 (2≤𝑁≤10), the number of integers your program should add.

# The next line contains the 𝑁 integers to add, each between 0 and 1000.

In [ ]:
number = [2,3,4,5,6,7,8,9,10]

In [ ]:
from random import randint, randrange

In [ ]:
number = int(input())
random_number = randrange(0 ,1000)
sum = 0

for n in range(number, number+1):
  add_rand_number = n + random_number
  sum = sum + n
  print(add_rand_number)
  print(sum)

3
648
3

In [ ]:
number = int(input())
random_number = randrange(0 ,1000)

for n in range(number):
  add_rand_number = n + random_number
  print(add_rand_number)

3
403
404
405

In [ ]:
number = int(input())
random_number = randrange(0 ,1000)
if number < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(number > 0):
       sum += number
       number -= 1
   print("The sum is", sum)

10
The sum is 55

In [ ]:
n = int(input("Enter number"))
sum = 0
# loop from 1 to n
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of first ", n, "numbers is: ", sum)

Enter number12
Sum of first  12 numbers is:  78

In [ ]:
number = int(input())
random_number = randrange(0 ,1000)
sum = 0

for num in range(number, number+1, number):
  add_rand_number = num + random_number
  sum = sum + num
  print(add_rand_number)
  print(sum)

2
49
2

In [ ]:
fam = ['liz', 23, 'emma', 21]

In [ ]:
# exclude emma

23

In [ ]:
excluded_index = 1
fam[:excluded_index] + fam[excluded_index+1:]

['liz', 'emma', 21]