<a href="https://colab.research.google.com/github/AnggaPradiktas/tutorials/blob/main/Basic_Programming_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
# Halo

In [ ]:
list_num = [1,2,3]

In [ ]:
max(list_num)

3

In [ ]:
min(list_num)

1

In [ ]:
sum(list_num)

6

In [ ]:
sum(list_num)/len(list_num)

2.0

In [ ]:
list_num_2 = [0.1,1,False]

In [ ]:
list_num.append(4)

In [ ]:
r = range(4,6)

In [ ]:
for i in range(4,6):
  list_num.append(i)

In [ ]:
list_num + [6,7]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
n = 55.6
round(n)

56

In [ ]:
import math
math.ceil(n)

56

In [ ]:
def square(nomer):
  value = nomer ** 2
  print(value)

In [ ]:
square(9)

81

In [ ]:
def square(nomer):
  value = nomer ** 2
  return value

In [ ]:
num = square(9)

In [ ]:
num

81

In [ ]:
def square_2(nomer):
  value = nomer ** 2
  return value

In [ ]:
square_2(square(9))

6561

In [ ]:
def hitung(angka, kali, tambah): #input
  angka = angka * kali + tambah #body/process
  return angka #output

In [ ]:
n = int(input())
m = int(input())
k = int(input())
print(hitung(n, m, k))

33
5
2
167

In [ ]:
def akar(angka): #input
  angka = angka ** (1/2) #body/process
  return angka #output

n = int(input())
print(akar(n))

6
2.449489742783178

## User defined functions

In [ ]:
def square():
    """
    ini dokumentasi
    pangkat 2 dari bilangan 5
    """
    new_value = 5 ** 2
    print(new_value)

In [ ]:
square()

25

## Without parameter

In [ ]:
# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations' + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout
shout()

congratulations!!!

In [ ]:
shout("Keren")

TypeError: ignored

## With parameter

In [ ]:
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout('selamat')

selamat!!!

In [ ]:
shout("OK")

OK!!!

## Functions that return a single variable

In [ ]:
# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Replace print with return
    return shout_word

In [ ]:
# Pass 'congratulations' to shout: yell
yell = shout('congratulations')

# Print yell
print(yell)

congratulations!!!

## Multiple variable

In [ ]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1 + shout2

    # Return new_shout
    return new_shout

In [ ]:
# Pass 'congratulations' and 'you' to shout: yell
yell = shout('hello','world')

# Print yell
print(yell)

hello!!!world!!!

In [ ]:
def raise_both(value1, value2):
  new_value1 = value1 ** 2
  new_value2 = value2 ** 2

  all_values = (new_value1,new_value2)
  return all_values

In [ ]:
raise_both(2,3)

(4, 9)

## ***Global Variable vs Local Variable***

*local variable* tidak bisa di akses dari luar function

*global variable* bisa diakses dari dalam function, tapi tidak bisa di manipulasi (diubah)

In [ ]:
a = 1
b = 11

def print_var():
  """this function will print a variable"""

  a = 2
  # b = b + 4
  # c = b

  print(f'[inside function] local variable a: {a}')
  print(f'[inside function] global variable b: {b}')

In [ ]:
print_var()

print(f'global variable a: {a}')

[inside function] local variable a: 2
[inside function] global variable b: 11
global variable a: 1

**gunakan** `global <variable_name>` jika ingin mengakses *global variable* dari dalam function

In [ ]:
a = 1

def print_var():
  """this function will print a variable"""

  global a
  a = 2
  
  print(f'[inside function] local variable a: {a}')

In [ ]:
print_var()

print(f'global variable a: {a}')

[inside function] local variable a: 2
global variable a: 2

## ***Arguments & Keyword Arguments***

In [ ]:
def hello_func(nama, umur):
  """return string hello with args `nama` & `umur`"""

  return f'hello {nama}, berumur {umur}'

*function call* **tanpa keyword**, argument harus terurut sesuai saat *function declaration*

In [ ]:
result = hello_func('budi', 28)
print(result)

hello budi, berumur 28

*function call* **dgn keyword**

In [ ]:
result = hello_func(umur=28, nama='budi')
print(result)

hello budi, berumur 28

## ***Function with Default Value***

**by** default, `perkalian_pangkat` selalu melakukan perkalian pangkat 2

In [ ]:
def perkalian_pangkat(angka=4, pangkat=2):
  """return `angka` dipangkatkan dengan `pangkat`"""

  return angka ** pangkat

In [ ]:
perkalian_pangkat(6)

36

argument `pangkat` juga bisa di isi dgn angka selain 2

In [ ]:
perkalian_pangkat(3, 4)

81

## ***Function with Multiple Arguments***

### *Multiple Args Example*

In [ ]:
def print_multi_args(*args):
  """print multiple args"""
  
  print(type(args))
  for arg in args:
    print(arg)

In [ ]:
print_multi_args(1,2,3,4,6,7,8,9)

<class 'tuple'>
1
2
3
4
6
7
8
9

In [ ]:
def add_all(*args):
  sum_all = 0
  for num in args:
    sum_all += num
  
  return sum_all

In [ ]:
add_all(1,2,3,4,5,6)

21

### *Multiple Key Args Example*

In [ ]:
def print_multi_key_args(**kwargs):
  """print multiple keyword args"""
  
  print(type(kwargs))
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [ ]:
print_multi_key_args(nama='budi', umur=23, sudah_menikah=False)

<class 'dict'>
nama: budi
umur: 23
sudah_menikah: False

## ***Map Function***

Contoh dgn ***regular function***

In [ ]:
def pangkat_kuadrat_regular(nums):
  """return setiap angka pada nums di pangkat 2"""

  result = []
  for num in nums:
    result.append(num ** 2)

  return result

In [ ]:
ls = [1,2,3,4,5,6,7]

result = pangkat_kuadrat_regular(ls)

print(result)

[1, 4, 9, 16, 25, 36, 49]

Contoh dgn ***map function***

In [ ]:
def pangkat_kuadrat_map(num):
  """return num di pangkat 2"""

  return num ** 2

In [ ]:
ls = [1,2,3,4,5,6,7]

result = list(map(pangkat_kuadrat_map, ls))

print(result)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
list_dups = [1,2,1,3,3,3,4,5,6]

In [ ]:
list(set(list_dups))

[1, 2, 3, 4, 5, 6]

## ***Filter Function***

Contoh dgn ***regular function***

In [ ]:
def find_odd_number_regular(nums):
  """loop over `nums` and return only the odd numbers"""

  result = []
  for num in nums:
    if num % 2 == 0:
      result.append(num)

  return result

In [ ]:
ls = [1,2,3,4,5,6,7]

result = find_odd_number_regular(ls)
print(result)

[2, 4, 6]

Contoh dgn ***filter function***

In [ ]:
def find_odd_number_filter(num):
  """return if num is odd number"""

  if num % 2 == 0:
    return True
  else:
    return False

In [ ]:
def find_odd_number_filter(num):
  """return if num is odd number"""

  return num % 2 == 0

In [ ]:
ls = [1,2,3,4,5,6,7]

result = list(filter(find_odd_number_filter, ls))
print(result)

[2, 4, 6]

Contoh dgn ***regular function***

In [ ]:
def contain_words_regular(words):
  """loop over `words` and return if it contains `selatan`"""

  result = []
  for word in words:
    if 'selatan' in word:
      result.append(word)

  return result

In [ ]:
strings = ['rumahku bertempat di utara', 'rumahmu aku tidak tahu', 'sedangkan rumah dia di selatan']

result = contain_words_regular(strings)
print(result)

['sedangkan rumah dia di selatan']

Contoh dgn ***filter function***

In [ ]:
def contain_words_filter(word):
  """return if `word` contains the `selatan`"""

  return 'selatan' in word

In [ ]:
strings = ['rumahku bertempat di utara', 'rumahmu aku tidak tahu', 'sedangkan rumah dia di selatan']

result = list(filter(contain_words_filter, strings))
print(result)

['sedangkan rumah dia di selatan']

#Lambda Function

In [ ]:
result = lambda x: x ** 2

In [ ]:
result(3)

9

In [ ]:
num = [1,2,3,4,5]
list(map(result, num))

[1, 4, 9, 16, 25]

# Exception

In [ ]:
y = 2
def sqrt(x, y):
  try:
    return x ** y
  except:
    print("Harus integer atau float")

In [ ]:
sqrt(2, y)

4

In [ ]:
max() min() append()

In [ ]:
def sqrt(x):
    return x ** 3

In [ ]:
sqrt('w')

TypeError: ignored