<a href="https://colab.research.google.com/github/AnggaPradiktas/tutorials/blob/main/Basic_Programming_Iterations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iterations

## While Loop

In [ ]:
# Print a while a < 10

a = 0 # initiate variables
while a < 10:
    print(a)

# Whoops, the loop is going infinity

In [ ]:
# Print a while a < 10

a = 0 # initiate variables
while a < 10:
    print(a)
    a += 1 # don't forget to make sure the condition will be satisfied

0
1
2
3
4
5
6
7
8
9

In [ ]:
# We could use more than one condition in a while loop
# The loop could also combined with the if-else concept

# Starts from 1,
#   as a default, print the number
#   print "fizz" if the number could be divided by 3,
#   print "buzz" if the number could be divided by 8,
#   loop until the "fizz" is printed 5 times or the "buzz" is printed 3 times

counter = 1
fizz_counter = 0
buzz_counter = 0

while fizz_counter < 5 or buzz_counter < 3:
  if (counter % 3 == 0) and (counter % 8 == 0):
    fizz_counter += 1
    buzz_counter += 1
    print("fizzbuzz")
  elif counter % 3 == 0:
    fizz_counter += 1
    print("fizz")
  elif counter % 8 == 0:
    buzz_counter += 1
    print("buzz")
  else:
    print(counter)
 
  counter += 1

1
2
fizz
4
5
fizz
7
buzz
fizz
10
11
fizz
13
14
fizz
buzz
17
fizz
19
20
fizz
22
23
fizzbuzz

## For Loop and Iterables

In [ ]:
# List
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# To use for loop in python, we have to create an iterable object first
## For basic use, range() will do most of work
## range(start, stop, step)

range(10)
# [0, 10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(3, 15, 2))

[3, 5, 7, 9, 11, 13]

In [ ]:
for i in range(1, 11): # will start from 0 by default
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5, 10+1): # we could set start and stop of loop
    print(i, i ** 2)
    
# Python for loop include the first number but not the last number

5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
# We could also combine for loop with if-else concept
# Exercise: 
#   From 1 through 15, decides whether they can be divided by 3 or not!
for i in range(1, 16):
  if i % 3 == 0:
    print(i, "can be divided by 3")
  else:
    print(i, "cannot be divided by 3")

1 cannot be divided by 3
2 cannot be divided by 3
3 can be divided by 3
4 cannot be divided by 3
5 cannot be divided by 3
6 can be divided by 3
7 cannot be divided by 3
8 cannot be divided by 3
9 can be divided by 3
10 cannot be divided by 3
11 cannot be divided by 3
12 can be divided by 3
13 cannot be divided by 3
14 cannot be divided by 3
15 can be divided by 3

In [ ]:
# Penilaian ulangan mahasiswa
# > 90 A
# 80 - 90 B
# 70 - 80 C
# < 70 D
# Nama Mahasiswa -- Nilai Ulangan -- Nilai Akhir
# Joni           -- 92            -- A
# albert         -- 74            -- C
# Soni           -- 86            -- B

nilai_ulangan = [92, 74, 86, 91, 79]
nilai_akhir = []
for i in nilai_ulangan:
  if i >= 90:
    nilai_akhir.append("A")
  elif i >= 80 and i < 90:
    nilai_akhir.append("B")
  elif i >= 70 and i < 80:
    nilai_akhir.append("C")
  else:
    nilai_akhir.append("D")
print(nilai_akhir)

['A', 'C', 'B', 'A', 'C']

In [ ]:
dict(zip(nilai_ulangan,nilai_akhir))

{74: 'C', 79: 'C', 86: 'B', 91: 'A', 92: 'A'}

In [ ]:
# String, list, and tuple are also iterable
# More explanation about list and tuple in the next session

# String
some_string = 'Hey, I just learned how to loop in Python'

for i in some_string:
    print(i)

H
e
y
,

I

j
u
s
t

l
e
a
r
n
e
d

h
o
w

t
o

l
o
o
p

i
n

P
y
t
h
o
n

In [ ]:
# String
some_string = 'Hey, I just learned how to loop in Python'
some_string = some_string.split()
print(some_string)

for i in some_string:
    print(i)

['Hey,', 'I', 'just', 'learned', 'how', 'to', 'loop', 'in', 'Python']
Hey,
I
just
learned
how
to
loop
in
Python

## Nested Loop

In [ ]:
list(range(3))

[0, 1, 2]

In [ ]:
# We could use nested while and for loop
for i in range(1,4):
    print('outer loop ', i)
    
    for j in range(i):
        print('inner loop ', j)
    print('\n', end = '')

outer loop  1
inner loop  0

outer loop  2
inner loop  0
inner loop  1

outer loop  3
inner loop  0
inner loop  1
inner loop  2

In [ ]:
print("*")
print("*")
print("*")

*
*
*

In [ ]:
?print

In [ ]:
# Print pattern
# *
# **
# ***
# ****
# *****

n = int(input())

for i in range(1, n+1):
  for j in range(i):
    print("*", end = "")
  print()

4
*
**
***
****

## Loop control

In [ ]:
for i in range(10):
    if i == 4:
        print('4, stopping the loop')
        # print('break')
        break # will terminate the loop and execute the line after the loop
        print('break')
    print(i)

print('done')

0
1
2
3
4, stopping the loop
done

In [ ]:
n = 10
while True:
    print(n)
    n = n * 10
    if n > 10000:
        break

10
100
1000
10000

In [ ]:
for i in range(10):
    if i % 2 == 0:
        print(i**2)
        continue # will reject the lines after this line and continue to the next iteration
        # print('4, continue the loop')
    print(i)

print('done')

0
1
4
3
16
5
36
7
64
9
done

In [ ]:
# for i in range(10):
#     if i == 4:
#         '''
#         some block of code that previously required but then removed
#         '''
#         print('unlucky number')
#     print(i)

# print('done')

for i in range(10):
    if i == 4:
        # pass # will just do nothing, act as a stub
        print('unlucky number')
    print(i)

print('done')

0
1
2
3
unlucky number
4
5
6
7
8
9
done

In [ ]:
def func():
  pass

In [ ]:
# We could use more than one condition in a while loop
# The loop could also combined with the if-else concept

# Starts from 1,
#   as a default, print the number
#   print "fizz" if the number could be divided by 3,
#   print "buzz" if the number could be divided by 8,
#   loop until the "fizz" is printed 5 times or the "buzz" is printed 3 times

counter = 1
fizz_counter = 0
buzz_counter = 0

for i in range(1000):
  if (counter % 3 == 0) and (counter % 8 == 0):
    fizz_counter += 1
    buzz_counter += 1
    print("fizzbuzz")
  elif counter % 3 == 0:
    fizz_counter += 1
    print("fizz")
  elif counter % 8 == 0:
    buzz_counter += 1
    print("buzz")
  else:
    print(counter)
  
  if fizz_counter == 5 or buzz_counter == 3:
    break
 
  counter += 1

1
2
fizz
4
5
fizz
7
buzz
fizz
10
11
fizz
13
14
fizz

In [ ]:
# bilangan sampai 21
# bilangan 3 ok
# bilangan 15 15
for i in range(1,31):
  if (i % 3 == 0) & (i % 5 != 0):
    print("ok")
  else:
    print(i)

1
2
ok
4
5
ok
7
8
ok
10
11
ok
13
14
15
16
17
ok
19
20
ok
22
23
ok
25
26
ok
28
29
30

In [ ]:
def hitung(angka, kali, tambah): #input
  angka = angka * kali + tambah #body/process
  return angka #output

n = int(input())
print(hitung(n, 2, 3))

10
23

In [ ]:
def akar(angka): #input
  angka = angka ** (1/2) #body/process
  return angka #output

n = int(input())
print(akar(n))

16
4.0