<a href="https://colab.research.google.com/github/AnggaPradiktas/tutorials/blob/main/Python_Programming_Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Variables in General***

In [ ]:
user_1 = 'budi'
print(user_1)

budi

In [ ]:
lokasi_1 = lokasi_2 = lokasi_3 = 'jakarta'
print(lokasi_1, lokasi_2, lokasi_3)

jakarta jakarta jakarta

In [ ]:
user_1, user_2, user_3 = 'budi', 'andi', 'rini'
print(user_1, user_2, user_3)

budi andi rini

# **Tipe Data *Primitives***

## **String**

### ***Concatinate String***

In [ ]:
nama = 'budi sukaji'

print(nama)

budi sukaji

In [ ]:
tambah_nama_akhir = nama + ' setiadi'
print(tambah_nama_akhir)

budi sukaji setiadi

In [ ]:
tambah_nama_awal = 'ahmad ' + nama
print(tambah_nama_awal)

ahmad budi sukaji

### ***Slicing String***

In [ ]:
nama_lengkap = 'andrian hariardi sukijang'

print(nama_lengkap)

andrian hariardi sukijang

In [ ]:
print(nama_lengkap[0])
print(nama_lengkap[1])
print(nama_lengkap[2])
print(nama_lengkap[3])

a
n
d
r

jika slicing menggunakan `[<index_awal> : <index_akhir>]`, *index_akhir* tidak ikut

In [ ]:
print(nama_lengkap[:7])
print(nama_lengkap[8:16])
print(nama_lengkap[17:])

andrian
hariardi
sukijang

### ***String Formatting***

#### f-string

In [ ]:
jalan = 'timur barat'
no = 23
kecamatan = 'selatan'
kelurahan = 'utara'

In [ ]:
alamat_baru = f'alamat baru saya di jalan {jalan}, no {no}, kecamatan {kecamatan}, kelurahan {kelurahan}'

print(alamat_baru)
print(type(alamat_baru))

alamat baru saya di jalan timur barat, no 23, kecamatan selatan, kelurahan utara
<class 'str'>

## **Integer & Float**

### **Kalkulasi Integer**

In [ ]:
jml_transaksi_1 = 3
jml_transaksi_2 = 4

print(type(jml_transaksi_1))
print(jml_transaksi_1)
print(jml_transaksi_2)

<class 'int'>
3
4

In [ ]:
print(jml_transaksi_1 + jml_transaksi_2)
print(jml_transaksi_1 - jml_transaksi_2)
print(jml_transaksi_1 * jml_transaksi_2)
print(jml_transaksi_1 ** jml_transaksi_2)

7
-1
12
81

#### pembagian integer menjadi float

contoh mencari rata2

In [ ]:
rata2 = (jml_transaksi_1 + jml_transaksi_2) / 2
print(type(rata2))
print(rata2)

<class 'float'>
3.5

In [ ]:
(round(rata2))

4

pembagian tanpa pembulatan dan dgn pembulatan kebawah

In [ ]:
print(jml_transaksi_2 / jml_transaksi_1)
print(jml_transaksi_2 // jml_transaksi_1)

1.3333333333333333
1

#### modulo pada bilangan integer

In [ ]:
print(9 % 1)
print(9 % 9)
print(9 % 2)
print(9 % 3)
print(9 % 5)
print(9 % 6)
print(9 % 7)

0
0
1
0
4
3
2

### **Kalkulasi Float**

In [ ]:
berat_1 = 7.3631
berat_2 = 3.312

print(berat_1)
print(berat_2)

7.3631
3.312

In [ ]:
print(berat_1 + berat_2)
print(berat_1 - berat_2)
print(berat_2 - berat_1)
print((berat_2 - berat_1) * -1)

10.6751
4.0511
-4.0511
4.0511

In [ ]:
print(berat_1 * berat_2)
print(berat_1 / berat_2)
print(berat_1 // berat_2)

24.3865872
2.223158212560387
2.0

#### modulo pada bilangan float

In [ ]:
print(berat_1 % berat_2)

0.7391000000000005

### **kalkulasi integer dgn float**

In [ ]:
print(jml_transaksi_1 + berat_2)
print(berat_2 - jml_transaksi_1)

## **Boolean**

In [ ]:
is_married = True
is_arrived = False

print(type(is_married))
print(is_married)
print(is_arrived)

<class 'bool'>
True
False

In [ ]:
True + False

1

In [ ]:
True + True

2

In [ ]:
False + False + 1.0

1.0

# **Tipe Data *Collections***

## **List**

In [ ]:
mix_data_types = ['apel', True, 'pisang', 92, -0.2551, ['a', 'b', 'c']]

print(type(mix_data_types))
print(mix_data_types)

<class 'list'>
['apel', True, 'pisang', 92, -0.2551, ['a', 'b', 'c']]

In [ ]:
buah = ['apel', 'belimbing', 'ceri', 'duren']

print(buah)

['apel', 'belimbing', 'ceri', 'duren']

### ***Concatinate List***

concat list berfungsi untuk menambahkan 1 list dgn list yg lain, menjadi list baru

In [ ]:
concat_lists = mix_data_types + buah

print(concat_lists)

['apel', True, 'pisang', 92, -0.2551, ['a', 'b', 'c'], 'apel', 'belimbing', 'ceri', 'duren']

### ***Built-in Functions in List***

#### sorted

`sorted()`: untuk mengurutkan elemen dalam list, *ascending* maupun *descending*. 

`sorted()` berfungsi jika smua elemen dalam list memiliki tipe data yg sama.

In [ ]:
# print(sorted(mix_data_types))
print(sorted(buah))
print(sorted(buah, reverse=False))
print(sorted(buah, reverse=True))

['apel', 'belimbing', 'ceri', 'duren']
['apel', 'belimbing', 'ceri', 'duren']
['duren', 'ceri', 'belimbing', 'apel']

#### max & min

`max()`: mencari elemen dgn value terbesar dalam list

`min()`: mencari elemen dgn value terkecil dalam list

`min()` & `max()` berfungsi ketika semua elemen dalam list memiliki tipe data yg

In [ ]:
# print(max(mix_data_types))
print(max(buah))
print(min(buah))

duren
apel

#### menambah & menghapus elemen dalam list

In [ ]:
buah = ['apel', 'belimbing', 'ceri', 'duren']

print(buah)

['apel', 'belimbing', 'ceri', 'duren']

`append(<value_baru>)`: menambahkan elemen baru pada index terakhir dalam list

In [ ]:
buah.append('jeruk')

print(buah)

['apel', 'belimbing', 'ceri', 'duren', 'jeruk']

In [ ]:
buah + ['naga']

['apel', 'belimbing', 'ceri', 'duren', 'jeruk', 'naga']

In [ ]:
buah

['apel', 'belimbing', 'ceri', 'duren', 'jeruk']

`insert(<index>, <value_baru>)`: menambahkan elemen baru pada index tertentu dalam list

In [ ]:
buah.insert(2, 'cermai')

print(buah)

['apel', 'belimbing', 'cermai', 'ceri', 'duren', 'jeruk']

`remove(<value_yg_mau_di_hapus>)`: menghapus elemen berdasarkan value nya

In [ ]:
buah.remove('ceri')

print(buah)

['apel', 'belimbing', 'cermai', 'duren', 'jeruk']

`del`: menghapus elemen berdasarkan index nya

In [ ]:
del buah[-1]

print(buah)

In [ ]:
buah

['apel', 'belimbing', 'cermai', 'duren', 'jeruk']

`pop(<index>)`: mengambil elemen dari list berdasarkan indexnya, untuk diproses lagi

In [ ]:
buah_index_ke_2 = buah.pop(2)

print(buah_index_ke_2)
print(buah)

cermai
['apel', 'belimbing', 'duren', 'jeruk']

#### length dalam lists

`len()`: untuk menghitung jumlah elemen dalam list

In [ ]:
print(mix_data_types)

['apel', True, 'pisang', 92, -0.2551, ['a', 'b', 'c']]

In [ ]:
print(len(mix_data_types))

6

### ***Slicing List***

In [ ]:
buah = ['apel', 'belimbing', 'ceri', 'duren']

print(buah)

In [ ]:
print(buah[0])
print(buah[1])

print(buah[-1])
print(buah[-2])

jika slicing menggunakan `[<index_awal> : <index_akhir>]`, *index_akhir* tidak ikut

In [ ]:
print(buah[0:3])
print(buah[:3])

In [ ]:
print(buah[-3:-1])
print(buah[-3:])

## **Tuple**

In [ ]:
tuple_numbers = (1,2,3,4,5)

print(tuple_numbers)

(1, 2, 3, 4, 5)

In [ ]:
mix_tuple = ('a', 'i', 'merupakan adalah', 2, 6.431, 61.124, True, False)

print(mix_tuple)

('a', 'i', 'merupakan adalah', 2, 6.431, 61.124, True, False)

### **Contoh *Tuple* Termasuk *Immutable***

In [ ]:
print(tuple_numbers)

(1, 2, 3, 4, 5)

tidak bisa melakukan perubahan elemen

In [ ]:
print(tuple_numbers[0])

tuple_numbers[0] = 99
print(tuple_numbers)

1

TypeError: ignored

tidak bisa menghapus elemen tertentu dalam *tuple*

In [ ]:
del tuple_numbers[0]

NameError: ignored

### ***Concate Tuple***

karena *tuple* itu *immutable*, maka jika ingin menambahkan elemen baru harus disimpan dlm variable baru dgn cara di *concate*

In [ ]:
print(tuple_numbers)

tuple_new_numbers = tuple_numbers + (6,7,8)

print(tuple_new_numbers)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8)

### ***Delete Tuple***

In [ ]:
print(tuple_numbers)

del tuple_numbers

print(tuple_numbers)

NameError: ignored

### ***Length***

In [ ]:
tuple_numbers = (1,2,3,4,5)

print(tuple_numbers)
print(len(tuple_numbers))

(1, 2, 3, 4, 5)
5

### ***Zip***

*zip* untuk menggabungkan elemen per *index* dari beberapa *tuple* atau bisa juga *list*

In [ ]:
nama = ('budi', 'andi', 'riri', 'roro')
umur = (33, 23, 26)

# nama = ['budi', 'andi', 'riri', 'roro']
# umur = [33, 23, 26]

print(nama)
print(umur)

('budi', 'andi', 'riri', 'roro')
(33, 23, 26)

hasil dari *zip* adalah *zip object*, maka utk bisa membaca hasil dri *zip*, harus di *convert* ke *list* atau *tuple* dulu.

*list* atau *tuple* yg ingin di *zip*, harus memiliki jumlah elemen yg sama, jika tidak, elemen yg tidak ada pasangan tidak akan dibaca.

In [ ]:
zipped = zip(nama, umur)

print(zipped)
print(list(zipped))

<zip object at 0x7f69047d40f0>
[('budi', 33), ('andi', 23), ('riri', 26)]

In [ ]:
nama_list = ['budi', 'andi', 'riri', 'roro']
umur_list = [33, 23, 26]

zipped_list = zip(nama, umur)
list(zipped_list)

[('budi', 33), ('andi', 23), ('riri', 26)]

### ***Slicing Tuple***

In [ ]:
print(tuple_numbers[0])
print(tuple_numbers[1])

print(tuple_numbers[-1])
print(tuple_numbers[-2])

1
2
5
4

jika slicing menggunakan `[<index_awal> : <index_akhir>]`, *index_akhir* tidak ikut

In [ ]:
print(tuple_numbers[0:3])
print(tuple_numbers[:3])

(1, 2, 3)
(1, 2, 3)

In [ ]:
print(tuple_numbers[-3:-1])
print(tuple_numbers[-3:])

(3, 4)
(3, 4, 5)

## **Set**

In [ ]:
set_numbers = {1,2,3,5,4}

print(set_numbers)

{1, 2, 3, 4, 5}

In [ ]:
mixed_set = {1, 2, 0.351, 8.134, False, 'ini budi'}
#mengapa False sebelum 8.134?
print(mixed_set)

{0.351, 1, 2, False, 8.134, 'ini budi'}

### **Contoh *set* tidak mengandung duplikat elemen**

In [ ]:
random_set_numbers = {4,5,5,1,2,3,3}

print(random_set_numbers)

{1, 2, 3, 4, 5}

### **Contoh *set* memiliki *index* yg tidak berurutan**

set akan langsung mengurutkan elemen nya dari kecil ke besar dan menghapus duplikasi elemen

oleh karena itu, tidak bisa mengakses per *index* nya

In [ ]:
print(random_set_numbers[0])

TypeError: ignored

### **Add & Remove *Set***

In [ ]:
print(random_set_numbers)

menambahkan elemen baru pd *index* terakhir

In [ ]:
random_set_numbers.add(6)

print(random_set_numbers)

menghapus elemen berdasarkan *value* nya

In [ ]:
random_set_numbers.remove(2)

print(random_set_numbers)

## **Dictionary**

In [ ]:
dict_user = {'nama': 'budi', 'umur': 25, 'sudah_menikah': False, 3: 'integer as key', True: 'boolean as key'}

print(dict_user)

print(dict_user['nama'])
print(dict_user[3])
print(dict_user[True])

{'nama': 'budi', 'umur': 25, 'sudah_menikah': False, 3: 'integer as key', True: 'boolean as key'}
budi
integer as key
boolean as key

### ***Print All Keys, Values, & key-value pairs***

In [ ]:
print(dict_user.keys())

dict_keys(['nama', 'umur', 'sudah_menikah', 3, True])

In [ ]:
print(dict_user.values())

dict_values(['budi', 25, False, 'integer as key', 'boolean as key'])

In [ ]:
print(dict_user.items())

dict_items([('nama', 'budi'), ('umur', 25), ('sudah_menikah', False), (3, 'integer as key'), (True, 'boolean as key')])

### ***Add & Remove Key-Value Pair***

In [ ]:
print(dict_user)

{'nama': 'budi', 'umur': 25, 'sudah_menikah': False, 3: 'integer as key', True: 'boolean as key'}

In [ ]:
dict_user['alamat'] = 'jl barat no 2 kecamatan utara kelurahan selatan'

print(dict_user)

{'nama': 'budi', 'umur': 25, 'sudah_menikah': False, 3: 'integer as key', True: 'boolean as key', 'alamat': 'jl barat no 2 kecamatan utara kelurahan selatan'}

In [ ]:
del dict_user['umur']

print(dict_user)

{'nama': 'budi', 'sudah_menikah': False, 3: 'integer as key', True: 'boolean as key', 'alamat': 'jl barat no 2 kecamatan utara kelurahan selatan'}

# ***Study Case Example***

install *requests* library

In [ ]:
!pip install requests

import *requests* library

In [ ]:
import requests

melihat deskripsi dari library

In [ ]:
help(requests)

fetch data from URL & print response code

In [ ]:
fetch_data = requests.get('https://jsonplaceholder.typicode.com/posts')

print(fetch_data)

menggunakan `.json()` agar bisa akses value data nya

cek tipe data: *list of dictionaries*

In [ ]:
posts = fetch_data.json()

print(type(posts))
print(posts)

slicing data dr index ke-2 s/d ke-7

In [ ]:
selected_posts = posts[2:7]

print(selected_posts)

hapus elemen dgn index ke-1 dri *selected_posts*

In [ ]:
del selected_posts[1]

print(selected_posts)

# ***Study Case***

1.   Dengan menggunakan library `requests`, tariklah data dari users dari link https://jsonplaceholder.typicode.com/users
2.   Simpan data hasil penarikan ke dalam variable dengan nama **users**
3.   Identifikasi tipe data dari **users**
4.   Ambil data user dgn **id = 3** sampai dgn **id = 7**, lalu simpan dalam variable baru bernama **selected_users**
5.   Hapus user dgn **id = 4** dari **selected_users**